html, body {
    height: 100%;
    margin: 0;
    padding: 0.2em;
}

body {
    background-color: #b2dfdb;
    overflow: auto !important;
}

#gsftp-wrapper {
    position: relative;
    min-height: 100%;
}

#gsftp-main {
    padding-bottom: 136px;
    padding-left: 0;
    padding-right: 0;
}

#gsftp-footer {
    position: absolute;
    height: 136px;
    bottom: 0;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.v-center {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.gsftp-error {
    margin: 0;
    padding: 0;
}

.bottom-margin {
    margin-bottom: .5em;
}

.div-center {
    margin-left: auto;
    margin-right: auto;
}

.white-text {
	color: white;
}

.input-field label {
	pointer-events: auto;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-bottom-margin {
   margin-bottom: 0 !important; 
}

.gsftp-dir-entry-name {
    font-weight: bold;
}

#gsftp-logo img {
    height: 56px;
}

#gsftp-ssl-status {
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    left: 0;
    right: 0;
}

#gsftp-logo img {
    cursor: pointer;
}

.word-break {
    word-break: break-all !important;
}

#gsftp-nav-bar {
    display: inline-table;
}

#gsftp-dir-listing {
    margin-top: 0 !important;
}

#gsftp-dir-listing span.badge {
    min-width: 76px !important;
}

.modal .progress {
    margin-top: 1rem;
}